@font-face {
    font-family: 'AdobeClean';
    src: url(../font/AdobeClean.otf);
}
@font-face {
    font-family: 'GothamLight';
    src: url(../font/GothamLight.ttf);
}
@font-face {
    font-family: 'GothamBold';
    src: url(../font/GothamBold.otf);
}
